<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
  </a>
</div>

<nav class="site-navbar">
  <ul id="menu" class="menu">
    {{ range .Site.Menus.main -}}
      <li class="menu-item">
        <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
</nav>

<style>
  table{
    border-left:1px solid #000000;border-top:1px solid #000000;
    width: 100%;
    word-wrap:break-word; word-break:break-all;
  }
  table th{
    text-align:center;
  }
  table th,td{
    border-right:1px solid #000000;border-bottom:1px solid #000000;
  }
</style>